.location-container {
  width: 50vh;
  border: 1px solid grey;
  padding: 10px;
}
.location-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
  gap: 10px;
}

.location-details-header {
  display: flex;
  justify-content: space-between;
}
